# Exploring Ebay Car Sales Data

For this project we will analyze a dataset of used cars from *Ebay Kleinanzeigen*, a classifieds sections of the German eBay website.

The aim of this project is to clean and analyze the data of used car listing using Pandas.

In [263]:
import numpy as np
import pandas as pd
from csv import reader

In [264]:
autos=pd.read_csv('autos.csv',encoding='Latin-1')

In [265]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [266]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [267]:
autos.head(10)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35

From the information extracted we can notice that:
* There are 50000 entries in each of the 20 columns, 15 of them are strings and the rest are integers.
* There are null values in the `vehicleType`, `gearbox`, `model`, `fuelType` and `notRepairedDamage` columns.
* The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

### Cleaning Column Names

We will convert the column names from camelcase to snakecase and reword some of the columns names based on the data dictionary to be more decriptive

In [268]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [269]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen']
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_photos,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## Data Exploration

In [270]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_photos,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-29 23:42:13,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [271]:
autos.dtypes

date_crawled          object
name                  object
seller                object
offer_type            object
price                 object
ab_test               object
vehicle_type          object
registration_year      int64
gearbox               object
power_ps               int64
model                 object
odometer              object
registration_month     int64
fuel_type             object
brand                 object
unrepaired_damage     object
ad_created            object
num_photos             int64
postal_code            int64
last_seen             object
dtype: object

In [272]:
autos['offer_type'].value_counts()

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

In [273]:
autos['seller'].value_counts()

privat        49999
gewerblich        1
Name: seller, dtype: int64

In [274]:
autos['num_photos'].value_counts()

0    50000
Name: num_photos, dtype: int64

In [275]:
for c in autos:
    value=autos[c].value_counts()
    print(value)

2016-03-29 23:42:13    3
2016-03-08 10:40:35    3
2016-03-23 18:39:34    3
2016-03-23 19:38:20    3
2016-03-27 22:55:05    3
2016-03-21 16:37:21    3
2016-03-12 16:06:22    3
2016-03-21 20:37:19    3
2016-04-02 11:37:04    3
2016-03-16 21:50:53    3
2016-03-22 09:51:06    3
2016-03-25 19:57:10    3
2016-03-11 22:38:16    3
2016-03-10 15:36:24    3
2016-03-14 20:50:02    3
2016-04-04 16:40:33    3
2016-04-02 15:49:30    3
2016-03-05 16:57:05    3
2016-03-30 17:37:35    3
2016-03-30 19:48:02    3
2016-03-09 11:54:38    3
2016-03-19 17:36:18    3
2016-03-17 20:40:18    2
2016-04-02 21:46:17    2
2016-03-08 11:55:48    2
2016-03-24 23:57:44    2
2016-03-15 21:36:44    2
2016-03-30 17:44:44    2
2016-03-24 10:56:50    2
2016-03-30 19:43:27    2
                      ..
2016-03-19 16:52:30    1
2016-03-21 20:36:19    1
2016-03-07 11:50:19    1
2016-03-27 19:54:51    1
2016-03-16 11:47:29    1
2016-03-12 12:58:02    1
2016-03-14 16:06:22    1
2016-03-27 18:56:46    1
2016-03-28 17:55:05    1
2016-03-28 21:39:48    1
2016-03-24 11:53:00    1
2016-03-24 07:37:03    1
2016-03-08 20:59:57    1
2016-03-22 04:03:14    1
2016-03-15 18:52:10    1
2016-03-20 15:47:50    1
2016-03-23 22:39:57    1
2016-03-21 11:50:58    1
2016-03-09 11:56:28    1
2016-03-14 10:50:08    1
2016-03-14 20:58:54    1
2016-04-02 20:06:23    1
2016-03-20 13:59:59    1
2016-03-25 05:02:29    1
2016-03-09 23:40:34    1
2016-03-26 12:50:15    1
2016-03-17 13:53:53    1
2016-03-24 20:06:23    1
2016-03-31 16:58:37    1
2016-03-10 23:53:08    1
Name: date_crawled, Length: 48213, dtype: int64
Ford_Fiesta                                                          78
Volkswagen_Golf_1.4                                                  75
BMW_316i                                                             75
Volkswagen_Polo                                                      72
BMW_318i                                                             72
BMW_320i                                                             71
Opel_Corsa                                                           71
Renault_Twingo                                                       70
Volkswagen_Golf                                                      57
Opel_Corsa_1.2_16V                                                   56
BMW_116i                                                             53
Peugeot_206                                                          52
Opel_Corsa_B                                                         52
Ford_Focus                                                           50
Volkswagen_Polo_1.2                                                  48
Volkswagen_Golf_1.6                                                  47
Opel_Astra                                                           43
Opel_Corsa_1.0_12V                                                   41
Volkswagen_Passat_Variant_1.9_TDI                                    39
BMW_320d_DPF_Touring                                                 38
BMW_520i                                                             37
Opel_Astra_1.6                                                       35
Audi_A4_Avant_2.0_TDI_DPF                                            34
Renault_Twingo_1.2                                                   33
Volkswagen_Golf_1.9_TDI                                              32
Ford_Mondeo                                                          32
Fiat_Punto                                                           32
Ford_Ka                                                              30
Ford_Fiesta_1.3                                                      29
Volkswagen_Lupo_1.0                                                  29
                                                                     ..
Volkswagen_Polo_1.2__Klima_Sitzheiz._Tempom._Berganfahrassi           1
VW_Caddy_TDI_TÃœV_Neu_1._Hand                                          1
Volkswagen_Golf_V                                                     1
Mazda_6_Sport_Kombi_2.0_CD_Impression                                 1
VW_Polo_6n_zu_verkaufen                                               1
Volkswagen_Fox_TÃœV_01.2017                                            1
Zuverlaessiger_3er_Golf_Variant                                       1
Ford_fiesta_diesel_gruene_plakette_onhe_tuev                          1
Volkswagen_Golf_1_4_75_ps                                             1
BMW_e46_330d_M_Packet_2_Tausch_!!                                     1
Renault_Clio_1.2_unfallfrei_2h.scheckh.d4_fahrbereit                  1
Mazda_MX_5_wenig_gelaufen_guter_Zustand_keine_Schaeden_dunkelblau     1
Skoda_octavia_Kombi_1.9_TDI_Gruene_Plakette!_Getriebe_defekt_.        1
VW_Polo_6N2_Super_Zustand_Pendlerfahrzeug                             1
Golf_V_GTI_Edition_30_tausch_T4_Multivan                              1
Vw_kaefer_1200                                                        1
Mercedes_G__Klasse_Longversion                                        1
Chevrolet_Pickup_K_1500__Stepside_mit_Hardtop                         1
Jeep_Wrangler_YJ_4.0__HighOutput___SoftTop                            1
Audi_A4_B6_2.0_108000                                                 1
VW_Bora_1.6___TÃœV_Neu                                                 1
Mercedes_Benz_C_250_T_CDI_DPF_BE_Avantgarde_NAVI_COM__AHK_XENO        1
Bastlerfahrzeug__Ford_Mondeo_Giha._2l                                 1
Volkswagen_Golf_Plus_TDI_DPF_Comfortline_Navi_Anhaengerkuppl          1
Audi_A3_mit_TÃœV_bis_06/2016                                           1
Golf_3__1.6_zu_verkaufen                                              1
Opel_Astra_1.6_16v                                                    1
VW_T_4_Motorradtraeger                                                1
VW_Golf_II._Automatik___4_Tur__Originalzustand_/_Top_zustand          1
SEAT_Toledo_1M_1_6_aus_1._Hand/_8_fach_bereift                        1
Name: name, Length: 38754, dtype: int64
privat        49999
gewerblich        1
Name: seller, dtype: int64
Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64
$0         1421
$500        781
$1,500      734
$2,500      643
$1,200      639
$1,000      639
$600        531
$800        498
$3,500      498
$2,000      460
$999        434
$750        433
$900        420
$650        419
$850        410
$700        395
$4,500      394
$300        384
$2,200      382
$950        379
$1,100      376
$1,300      371
$3,000      365
$550        356
$1,800      355
$5,500      340
$350        335
$1,250      335
$1,600      327
$1,999      322
           ...
$30,570       1
$1,770        1
$4,495        1
$79,980       1
$8,730        1
$440          1
$10,888       1
$1,039        1
$11,899       1
$3,989        1
$25,698       1
$73,900       1
$2,725        1
$55,900       1
$3,425        1
$6,195        1
$2,798        1
$4,210        1
$13,480       1
$75,900       1
$54,990       1
$34,940       1
$2,569        1
$38,850       1
$3,660        1
$12,777       1
$6,911        1
$16,680       1
$3,993        1
$3,349        1
Name: price, Length: 2357, dtype: int64
test       25756
control    24244
Name: ab_test, dtype: int64
limousine     12859
kleinwagen    10822
kombi          9127
bus            4093
cabrio         3061
coupe          2537
suv            1986
andere          420
Name: vehicle_type, dtype: int64
2000    3354
2005    3015
1999    3000
2004    2737
2003    2727
2006    2708
2001    2703
2002    2533
1998    2453
2007    2304
2008    2231
2009    2098
1997    2028
2011    1634
2010    1597
2017    1453
1996    1444
2012    1323
2016    1316
1995    1313
2013     806
2014     666
1994     660
2018     492
1993     445
2015     399
1990     395
1992     391
1991     356
1989     181
        ...
1950       3
1955       2
9000       2
1954       2
1800       2
1957       2
1941       2
1951       2
1934       2
4100       1
4800       1
1953       1
1111       1
1927       1
6200       1
4500       1
1943       1
5911       1
1939       1
1938       1
2800       1
8888       1
1000       1
1500       1
1948       1
1931       1
1929       1
1001       1
9996       1
1952       1
Name: registration_year, Length: 97, dtype: int64
manuell      36993
automatik    10327
Name: gearbox, dtype: int64
0        5500
75       3171
60       2195
150      2046
140      1884
101      1756
90       1746
116      1646
170      1492
105      1410
125       964
136       955
102       868
163       847
54        759
143       733
131       713
122       710
110       694
109       620
50        604
80        560
177       542
58        506
120       501
115       481
69        475
45        397
95        382
68        380
         ...
999         1
455         1
442         1
1082        1
678         1
454         1
187         1
262         1
441         1
585         1
460         1
5867        1
9011        1
268         1
236         1
1367        1
24          1
12          1
1771        1
1003        1
587         1
696         1
952         1
1016        1
682         1
650         1
490         1
362         1
153         1
16312       1
Name: power_ps, Length: 448, dtype: int64
golf                  4024
andere                3528
3er                   2761
polo                  1757
corsa                 1735
astra                 1454
passat                1425
a4                    1291
5er                   1183
c_klasse              1172
e_klasse              1001
a3                     882
a6                     835
focus                  811
fiesta                 769
transporter            704
twingo                 677
2_reihe                621
a_klasse               588
vectra                 574
fortwo                 574
1er                    538
clio                   509
3_reihe                508
mondeo                 496
touran                 468
punto                  458
zafira                 423
ka                     370
megane                 362
                      ...
forester                12
range_rover_sport       12
gl                      12
terios                  10
move                    10
lybra                   10
mii                     10
r19                     10
90                       9
range_rover              9
nubira                   8
exeo                     7
amarok                   7
9000                     6
delta                    6
crossfire                6
lodgy                    5
croma                    5
range_rover_evoque       5
145                      5
samara                   4
materia                  4
charade                  3
v60                      3
kalina                   2
kappa                    2
b_max                    1
200                      1
i3                       1
rangerover               1
Name: model, Length: 245, dtype: int64
150,000km    32424
125,000km     5170
100,000km     2169
90,000km      1757
80,000km      1436
70,000km      1230
60,000km      1164
50,000km      1027
5,000km        967
40,000km       819
30,000km       789
20,000km       784
10,000km       264
Name: odometer, dtype: int64
0     5075
3     5071
6     4368
5     4107
4     4102
7     3949
10    3651
12    3447
9     3389
11    3360
1     3282
8     3191
2     3008
Name: registration_month, dtype: int64
benzin     30107
diesel     14567
lpg          691
cng           75
hybrid        37
andere        22
elektro       19
Name: fuel_type, dtype: int64
volkswagen        10687
opel               5461
bmw                5429
mercedes_benz      4734
audi               4283
ford               3479
renault            2404
peugeot            1456
fiat               1308
seat                941
skoda               786
mazda               757
nissan              754
smart               701
citroen             701
toyota              617
sonstige_autos      546
hyundai             488
volvo               457
mini                424
mitsubishi          406
honda               399
kia                 356
alfa_romeo          329
porsche             294
suzuki              293
chevrolet           283
chrysler            181
dacia               129
daihatsu            128
jeep                110
subaru              109
land_rover           99
saab                 80
daewoo               79
trabant              78
jaguar               77
rover                69
lancia               57
lada                 31
Name: brand, dtype: int64
nein    35232
ja       4939
Name: unrepaired_damage, dtype: int64
2016-04-03 00:00:00    1946
2016-03-20 00:00:00    1893
2016-03-21 00:00:00    1886
2016-04-04 00:00:00    1844
2016-03-12 00:00:00    1831
2016-03-14 00:00:00    1761
2016-04-02 00:00:00    1754
2016-03-28 00:00:00    1748
2016-03-07 00:00:00    1737
2016-03-29 00:00:00    1707
2016-03-19 00:00:00    1692
2016-04-01 00:00:00    1690
2016-03-15 00:00:00    1687
2016-03-30 00:00:00    1672
2016-03-08 00:00:00    1667
2016-03-09 00:00:00    1662
2016-03-22 00:00:00    1640
2016-03-11 00:00:00    1639
2016-03-26 00:00:00    1628
2016-03-23 00:00:00    1609
2016-03-31 00:00:00    1596
2016-03-25 00:00:00    1594
2016-03-10 00:00:00    1593
2016-03-17 00:00:00    1560
2016-03-27 00:00:00    1545
2016-03-16 00:00:00    1500
2016-03-24 00:00:00    1454
2016-03-05 00:00:00    1152
2016-03-13 00:00:00     846
2016-03-06 00:00:00     756
                       ...
2016-01-27 00:00:00       3
2016-02-20 00:00:00       2
2016-02-26 00:00:00       2
2016-02-24 00:00:00       2
2016-02-14 00:00:00       2
2016-02-02 00:00:00       2
2016-02-18 00:00:00       2
2016-01-10 00:00:00       2
2016-02-05 00:00:00       2
2016-02-09 00:00:00       2
2016-01-22 00:00:00       1
2016-01-07 00:00:00       1
2016-02-07 00:00:00       1
2016-02-22 00:00:00       1
2015-09-09 00:00:00       1
2016-01-13 00:00:00       1
2015-08-10 00:00:00       1
2015-11-10 00:00:00       1
2016-02-01 00:00:00       1
2015-06-11 00:00:00       1
2016-02-17 00:00:00       1
2016-01-14 00:00:00       1
2016-02-08 00:00:00       1
2016-01-16 00:00:00       1
2016-01-03 00:00:00       1
2015-12-05 00:00:00       1
2016-01-29 00:00:00       1
2016-02-11 00:00:00       1
2015-12-30 00:00:00       1
2016-02-16 00:00:00       1
Name: ad_created, Length: 76, dtype: int64
0    50000
Name: num_photos, dtype: int64
10115    109
65428    104
66333     54
45888     50
44145     48
48599     47
65933     45
65719     44
15344     43
37154     42
50354     42
52525     42
38518     40
44339     40
32791     40
51065     40
77933     40
45881     40
30419     40
25524     39
33378     39
32257     39
46325     39
53773     38
61169     38
85055     38
60386     37
65929     37
52477     37
21423     37
        ...
76872      1
88486      1
82405      1
74249      1
7927       1
29379      1
86759      1
19300      1
56182      1
31618      1
29571      1
17349      1
31714      1
76776      1
91233      1
40670      1
17509      1
74921      1
54455      1
97506      1
95491      1
9481       1
56598      1
91489      1
54647      1
23942      1
83365      1
95683      1
97794      1
67585      1
Name: postal_code, Length: 7014, dtype: int64
2016-04-07 06:17:27    8
2016-04-06 06:17:24    7
2016-04-06 21:17:51    7
2016-04-07 03:16:17    7
2016-04-06 19:15:21    6
2016-04-07 05:16:17    6
2016-04-06 14:44:55    6
2016-04-05 16:44:47    6
2016-04-06 08:44:19    6
2016-04-06 07:46:11    6
2016-04-06 07:46:03    6
2016-04-06 10:17:12    6
2016-04-07 06:46:12    6
2016-04-06 15:17:56    6
2016-04-06 22:17:26    6
2016-04-06 15:16:45    6
2016-04-07 04:46:51    6
2016-04-06 15:45:50    6
2016-04-06 05:16:14    6
2016-04-06 01:16:01    6
2016-04-06 13:17:03    6
2016-04-06 19:16:38    6
2016-04-06 02:16:12    6
2016-04-06 02:17:26    6
2016-04-06 20:48:27    6
2016-04-07 03:45:23    6
2016-04-06 14:17:04    6
2016-04-06 01:47:02    5
2016-04-06 05:17:08    5
2016-04-06 21:45:36    5
                      ..
2016-03-31 20:45:55    1
2016-04-05 16:15:30    1
2016-03-20 08:49:20    1
2016-03-30 01:18:23    1
2016-04-04 18:16:20    1
2016-03-29 09:17:57    1
2016-04-02 20:48:52    1
2016-04-02 10:46:20    1
2016-03-20 05:44:24    1
2016-03-30 18:38:55    1
2016-04-06 17:16:55    1
2016-03-11 10:46:32    1
2016-03-18 04:16:36    1
2016-03-14 13:50:24    1
2016-04-05 13:44:38    1
2016-03-31 03:45:41    1
2016-03-13 03:44:25    1
2016-04-05 12:11:40    1
2016-03-20 05:47:09    1
2016-03-28 08:46:42    1
2016-04-06 20:16:59    1
2016-04-07 12:45:19    1
2016-04-07 09:46:14    1
2016-03-22 15:41:47    1
2016-03-29 08:47:18    1
2016-03-08 21:17:12    1
2016-03-30 21:46:25    1
2016-03-30 17:46:18    1
2016-03-18 17:47:21    1
2016-04-05 16:46:57    1
Name: last_seen, Length: 39481, dtype: int64

Observations:
* The columns `seller ` and `offer_type` have the same value, so they can be discarded from our analysis.
* The columns `vehicle_type`,`gearbox`,`fuel_type` and `unrepaired_damage` are in German
* All the values of the column `num_photos` are 0
* There are 1421 entries with a value of $0 in the column `price`
* The columns `price` and `odometer` are stored as strings instead of integers.

Based on our observations: 
* We will drop the following columns: `seller`,`offer_type` and `num_photos`

In [276]:
autos.drop(['offer_type','seller','num_photos'],axis=1)

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,45897,2016-04-06 21:18:48

* We will convert the columns `price` and `odometer` from string values to numeric ones

In [277]:
autos['price']=(autos['price']
                        .str.replace('$','')
                        .str.replace(',','')
                        .astype(int))
autos['odometer']=(autos['odometer']
                            .str.replace('km','')
                            .str.replace(',','')
                            .astype(int))

In [278]:
autos.rename(columns={'odometer':'odometer_km'},inplace=True)

### Exploring the Odometer and Price Columns

We will take a deep look at the ``Odometer`` and ``Price`` columns to visualize if there are any unusual values.

In [279]:
autos['price'].unique().shape

(2357,)

In [280]:
autos['odometer_km'].unique().shape

(13,)

In [281]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [282]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [283]:
    autos['price'].value_counts().sort_index(ascending=False)

99999999       1
27322222       1
12345678       3
11111111       2
10000000       1
3890000        1
1300000        1
1234566        1
999999         2
999990         1
350000         1
345000         1
299000         1
295000         1
265000         1
259000         1
250000         1
220000         1
198000         1
197000         1
194000         1
190000         1
180000         1
175000         1
169999         1
169000         1
163991         1
163500         1
155000         1
151990         1
            ...
66             1
65             5
60             9
59             1
55             2
50            49
49             4
47             1
45             4
40             6
35             1
30             7
29             1
25             5
20             4
18             1
17             3
15             2
14             1
13             2
12             3
11             2
10             7
9              1
8              1
5              2
3              1
2              3
1            156
0           1421
Name: price, Length: 2357, dtype: int64

In [284]:
autos['odometer_km'].value_counts().sort_index(ascending=False)

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
20000       784
10000       264
5000        967
Name: odometer_km, dtype: int64

From this analysis we can identify that there are unrealistic prices for cars in the `price` column such as: 
* A car priced at `$99999999` or `$12345678`
* 1421 cars with a price of ``$0``

For this reason we will remove them. 
Given that eBay is an auction site, there could legitimately be items where the opening bid is \$1. We will keep the \$1 items, but remove anything above \$350,000, since it seems that prices increase steadily to that number and then jump up to less realistic numbers.

For the `odometer_km` column the values seem to be within normal parameters

In [285]:
autos=autos[autos['price'].between(1,350001)]

In [286]:
autos['price'].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

### Exploring date columns

There are 5 columns that should represent date values. Some of these columns were created by the crawler, some came from the website itself. We can differentiate by referring to the data dictionary:

- `date_crawled`: added by the crawler
- `last_seen`: added by the crawler
- `ad_created`: from the website
- `registration_month`: from the website
- `registration_year`: from the website

Right now, the date_crawled, last_seen, and ad_created columns are all identified as string values by pandas. Because these three columns are represented as strings, we need to convert the data into a numerical representation so we can understand it quantitatively. The other two columns are represented as numeric values, so we can use methods like Series.describe() to understand the distribution without any extra data processing.

In [287]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [288]:
print(autos['date_crawled'].str[:10])

0        2016-03-26
1        2016-04-04
2        2016-03-26
3        2016-03-12
4        2016-04-01
5        2016-03-21
6        2016-03-20
7        2016-03-16
8        2016-03-22
9        2016-03-16
10       2016-03-15
11       2016-03-16
12       2016-03-31
13       2016-03-23
14       2016-03-23
15       2016-04-01
16       2016-03-16
17       2016-03-29
18       2016-03-26
19       2016-03-17
20       2016-03-05
21       2016-03-06
22       2016-03-28
23       2016-03-10
24       2016-04-03
25       2016-03-21
26       2016-04-03
28       2016-03-19
29       2016-04-02
30       2016-03-14
            ...
49968    2016-04-01
49969    2016-03-17
49970    2016-03-21
49971    2016-03-29
49972    2016-03-26
49973    2016-03-27
49975    2016-03-27
49976    2016-03-19
49977    2016-03-31
49978    2016-04-04
49979    2016-03-20
49980    2016-03-12
49981    2016-03-15
49982    2016-03-29
49983    2016-03-06
49985    2016-04-02
49986    2016-04-04
49987    2016-03-22
49988    2016-03-28
49989    2016-03-11
49990    2016-03-21
49991    2016-03-06
49992    2016-03-10
49993    2016-03-15
49994    2016-03-22
49995    2016-03-27
49996    2016-03-28
49997    2016-04-02
49998    2016-03-08
49999    2016-03-14
Name: date_crawled, Length: 48565, dtype: object

In [289]:
print(autos['ad_created'].str[:10])

0        2016-03-26
1        2016-04-04
2        2016-03-26
3        2016-03-12
4        2016-04-01
5        2016-03-21
6        2016-03-20
7        2016-03-16
8        2016-03-22
9        2016-03-16
10       2016-03-14
11       2016-03-16
12       2016-03-31
13       2016-03-23
14       2016-03-23
15       2016-04-01
16       2016-03-16
17       2016-03-29
18       2016-03-26
19       2016-03-17
20       2016-03-05
21       2016-03-06
22       2016-03-28
23       2016-03-10
24       2016-04-03
25       2016-03-21
26       2016-04-03
28       2016-03-19
29       2016-04-02
30       2016-03-14
            ...
49968    2016-04-01
49969    2016-03-17
49970    2016-03-21
49971    2016-03-29
49972    2016-03-26
49973    2016-03-27
49975    2016-03-27
49976    2016-03-19
49977    2016-03-31
49978    2016-04-04
49979    2016-03-20
49980    2016-03-12
49981    2016-03-15
49982    2016-03-29
49983    2016-03-06
49985    2016-04-02
49986    2016-04-04
49987    2016-03-22
49988    2016-03-28
49989    2016-03-11
49990    2016-03-21
49991    2016-03-06
49992    2016-03-10
49993    2016-03-15
49994    2016-03-22
49995    2016-03-27
49996    2016-03-28
49997    2016-04-02
49998    2016-03-08
49999    2016-03-13
Name: ad_created, Length: 48565, dtype: object

In [290]:
print(autos['last_seen'].str[:10])

0        2016-04-06
1        2016-04-06
2        2016-04-06
3        2016-03-15
4        2016-04-01
5        2016-04-06
6        2016-03-23
7        2016-04-07
8        2016-03-26
9        2016-04-06
10       2016-04-07
11       2016-03-16
12       2016-04-06
13       2016-04-01
14       2016-04-01
15       2016-04-02
16       2016-03-18
17       2016-04-05
18       2016-04-02
19       2016-03-17
20       2016-03-07
21       2016-04-05
22       2016-04-01
23       2016-03-17
24       2016-04-07
25       2016-04-01
26       2016-04-05
28       2016-04-07
29       2016-04-02
30       2016-03-14
            ...
49968    2016-04-05
49969    2016-03-25
49970    2016-04-07
49971    2016-03-29
49972    2016-03-28
49973    2016-03-27
49975    2016-04-05
49976    2016-04-07
49977    2016-04-06
49978    2016-04-06
49979    2016-04-07
49980    2016-04-06
49981    2016-04-05
49982    2016-03-29
49983    2016-03-09
49985    2016-04-06
49986    2016-04-06
49987    2016-03-26
49988    2016-04-07
49989    2016-03-12
49990    2016-04-06
49991    2016-03-06
49992    2016-03-13
49993    2016-04-06
49994    2016-04-06
49995    2016-04-01
49996    2016-04-02
49997    2016-04-04
49998    2016-04-05
49999    2016-04-06
Name: last_seen, Length: 48565, dtype: object

In [291]:
autos['date_crawled'].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2016-03-05 14:06:30    0.000021
2016-03-05 14:06:40    0.000021
2016-03-05 14:07:04    0.000021
2016-03-05 14:07:08    0.000021
2016-03-05 14:07:21    0.000021
2016-03-05 14:07:26    0.000021
2016-03-05 14:07:40    0.000021
2016-03-05 14:07:45    0.000021
2016-03-05 14:08:00    0.000041
2016-03-05 14:08:05    0.000041
2016-03-05 14:08:27    0.000021
2016-03-05 14:08:42    0.000021
2016-03-05 14:09:02    0.000041
2016-03-05 14:09:05    0.000021
2016-03-05 14:09:20    0.000021
2016-03-05 14:09:22    0.000021
2016-03-05 14:09:38    0.000021
2016-03-05 14:09:46    0.000021
2016-03-05 14:09:56    0.000021
2016-03-05 14:09:57    0.000021
2016-03-05 14:09:58    0.000041
2016-03-05 14:10:18    0.000021
2016-03-05 14:10:20    0.000021
2016-03-05 14:10:46    0.000021
2016-03-05 14:11:03    0.000021
2016-03-05 14:11:05    0.000021
2016-03-05 14:11:14    0.000021
2016-03-05 14:11:15    0.000021
2016-03-05 14:11:25    0.000021
2016-03-05 14:11:40    0.000021
                         ...
2016-04-07 10:36:17    0.000021
2016-04-07 10:36:19    0.000021
2016-04-07 10:36:24    0.000021
2016-04-07 10:36:25    0.000021
2016-04-07 10:36:35    0.000021
2016-04-07 10:36:36    0.000021
2016-04-07 10:36:37    0.000041
2016-04-07 11:06:33    0.000021
2016-04-07 11:36:19    0.000021
2016-04-07 11:36:23    0.000021
2016-04-07 11:36:24    0.000021
2016-04-07 11:36:25    0.000021
2016-04-07 11:36:34    0.000041
2016-04-07 11:36:35    0.000021
2016-04-07 12:06:19    0.000021
2016-04-07 12:06:23    0.000021
2016-04-07 12:25:34    0.000021
2016-04-07 12:25:35    0.000021
2016-04-07 13:06:18    0.000021
2016-04-07 13:25:39    0.000021
2016-04-07 13:36:19    0.000021
2016-04-07 13:36:20    0.000021
2016-04-07 13:36:37    0.000021
2016-04-07 13:36:38    0.000021
2016-04-07 14:07:04    0.000021
2016-04-07 14:30:09    0.000021
2016-04-07 14:30:26    0.000021
2016-04-07 14:36:44    0.000021
2016-04-07 14:36:55    0.000021
2016-04-07 14:36:56    0.000021
Name: date_crawled, Length: 46882, dtype: float64

Looks like that the data was crawled during the months of March and April of 2016. The distribution of listings crawled on each day is roughly uniform.

In [292]:
autos['ad_created'].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2015-06-11 00:00:00    0.000021
2015-08-10 00:00:00    0.000021
2015-09-09 00:00:00    0.000021
2015-11-10 00:00:00    0.000021
2015-12-05 00:00:00    0.000021
2015-12-30 00:00:00    0.000021
2016-01-03 00:00:00    0.000021
2016-01-07 00:00:00    0.000021
2016-01-10 00:00:00    0.000041
2016-01-13 00:00:00    0.000021
2016-01-14 00:00:00    0.000021
2016-01-16 00:00:00    0.000021
2016-01-22 00:00:00    0.000021
2016-01-27 00:00:00    0.000062
2016-01-29 00:00:00    0.000021
2016-02-01 00:00:00    0.000021
2016-02-02 00:00:00    0.000041
2016-02-05 00:00:00    0.000041
2016-02-07 00:00:00    0.000021
2016-02-08 00:00:00    0.000021
2016-02-09 00:00:00    0.000021
2016-02-11 00:00:00    0.000021
2016-02-12 00:00:00    0.000041
2016-02-14 00:00:00    0.000041
2016-02-16 00:00:00    0.000021
2016-02-17 00:00:00    0.000021
2016-02-18 00:00:00    0.000041
2016-02-19 00:00:00    0.000062
2016-02-20 00:00:00    0.000041
2016-02-21 00:00:00    0.000062
                         ...
2016-03-09 00:00:00    0.033151
2016-03-10 00:00:00    0.031895
2016-03-11 00:00:00    0.032904
2016-03-12 00:00:00    0.036755
2016-03-13 00:00:00    0.017008
2016-03-14 00:00:00    0.035190
2016-03-15 00:00:00    0.034016
2016-03-16 00:00:00    0.030125
2016-03-17 00:00:00    0.031278
2016-03-18 00:00:00    0.013590
2016-03-19 00:00:00    0.033687
2016-03-20 00:00:00    0.037949
2016-03-21 00:00:00    0.037579
2016-03-22 00:00:00    0.032801
2016-03-23 00:00:00    0.032060
2016-03-24 00:00:00    0.029280
2016-03-25 00:00:00    0.031751
2016-03-26 00:00:00    0.032266
2016-03-27 00:00:00    0.030989
2016-03-28 00:00:00    0.034984
2016-03-29 00:00:00    0.034037
2016-03-30 00:00:00    0.033501
2016-03-31 00:00:00    0.031875
2016-04-01 00:00:00    0.033687
2016-04-02 00:00:00    0.035149
2016-04-03 00:00:00    0.038855
2016-04-04 00:00:00    0.036858
2016-04-05 00:00:00    0.011819
2016-04-06 00:00:00    0.003253
2016-04-07 00:00:00    0.001256
Name: ad_created, Length: 76, dtype: float64

It looks like that the ads were created from June of 2015 to March of 2016.  The distribution of ads created is not uniform

In [293]:
autos['last_seen'].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2016-03-05 14:45:46    0.000021
2016-03-05 14:46:02    0.000021
2016-03-05 14:49:34    0.000021
2016-03-05 15:16:11    0.000021
2016-03-05 15:16:47    0.000021
2016-03-05 15:28:10    0.000021
2016-03-05 15:41:30    0.000021
2016-03-05 15:45:43    0.000021
2016-03-05 15:47:38    0.000021
2016-03-05 15:47:44    0.000021
2016-03-05 16:45:57    0.000021
2016-03-05 16:47:28    0.000021
2016-03-05 17:15:45    0.000021
2016-03-05 17:16:14    0.000021
2016-03-05 17:16:23    0.000021
2016-03-05 17:17:02    0.000021
2016-03-05 17:39:19    0.000021
2016-03-05 17:40:14    0.000021
2016-03-05 17:44:50    0.000021
2016-03-05 17:44:54    0.000021
2016-03-05 17:46:01    0.000021
2016-03-05 18:17:58    0.000021
2016-03-05 18:50:38    0.000021
2016-03-05 19:15:08    0.000021
2016-03-05 19:15:20    0.000021
2016-03-05 19:15:42    0.000021
2016-03-05 19:16:36    0.000021
2016-03-05 19:17:17    0.000021
2016-03-05 19:17:50    0.000021
2016-03-05 19:32:34    0.000021
                         ...
2016-04-07 14:58:09    0.000041
2016-04-07 14:58:10    0.000041
2016-04-07 14:58:12    0.000041
2016-04-07 14:58:13    0.000021
2016-04-07 14:58:14    0.000021
2016-04-07 14:58:17    0.000062
2016-04-07 14:58:18    0.000103
2016-04-07 14:58:20    0.000021
2016-04-07 14:58:21    0.000062
2016-04-07 14:58:22    0.000021
2016-04-07 14:58:24    0.000041
2016-04-07 14:58:25    0.000021
2016-04-07 14:58:26    0.000041
2016-04-07 14:58:27    0.000041
2016-04-07 14:58:28    0.000041
2016-04-07 14:58:29    0.000062
2016-04-07 14:58:31    0.000041
2016-04-07 14:58:33    0.000041
2016-04-07 14:58:34    0.000041
2016-04-07 14:58:36    0.000062
2016-04-07 14:58:37    0.000021
2016-04-07 14:58:38    0.000021
2016-04-07 14:58:40    0.000021
2016-04-07 14:58:41    0.000021
2016-04-07 14:58:42    0.000041
2016-04-07 14:58:44    0.000062
2016-04-07 14:58:45    0.000021
2016-04-07 14:58:46    0.000021
2016-04-07 14:58:48    0.000062
2016-04-07 14:58:50    0.000062
Name: last_seen, Length: 38474, dtype: float64

The last three days contain a disproportionate amount of 'last seen' values. Given that these are 6-10x the values from the previous days, it's unlikely that there was a massive spike in sales, and more likely that these values are to do with the crawling period ending and don't indicate car sales.

In [294]:
autos['registration_year'].describe()

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [295]:
autos['registration_year'].value_counts()

2000    3156
2005    2936
1999    2897
2004    2703
2003    2699
2006    2670
2001    2636
2002    2486
1998    2363
2007    2277
2008    2215
2009    2085
1997    1951
2011    1623
2010    1589
2017    1392
1996    1373
2012    1310
1995    1227
2016    1220
2013     803
2014     663
1994     629
2018     470
1993     425
2015     392
1992     370
1990     347
1991     339
1989     174
        ...
1950       3
9999       3
1800       2
1951       2
1941       2
1934       2
1954       2
1957       2
1955       2
2019       2
1001       1
1939       1
4500       1
1953       1
1111       1
4800       1
5911       1
1943       1
1938       1
1929       1
2800       1
6200       1
4100       1
8888       1
1927       1
9000       1
1948       1
1000       1
1931       1
1952       1
Name: registration_year, Length: 95, dtype: int64

We can clearly notice that some registration years are definitely wrong 
E.g: 4500 - 1111 - 1000 - 8888 - 4800 - 2800 - 9000 
The minimun value of a year is 1000 and the maximun one is 9999 
We will remove any value that falls outside the 1900 - 2016 interval.

### Exploring Price by Brand

In [296]:
autos=autos[autos['registration_year'].between(1900,2016)]

In [297]:
autos['registration_year'].describe()

count    46681.000000
mean      2002.910756
std          7.185103
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

We narrowed the values from 48565 to 46681. We removed 1884 entries.

In [298]:
autos['brand'].value_counts(normalize=True)

volkswagen        0.211264
bmw               0.110045
opel              0.107581
mercedes_benz     0.096463
audi              0.086566
ford              0.069900
renault           0.047150
peugeot           0.029841
fiat              0.025642
seat              0.018273
skoda             0.016409
nissan            0.015274
mazda             0.015188
smart             0.014160
citroen           0.014010
toyota            0.012703
hyundai           0.010025
sonstige_autos    0.009811
volvo             0.009147
mini              0.008762
mitsubishi        0.008226
honda             0.007840
kia               0.007069
alfa_romeo        0.006641
porsche           0.006127
suzuki            0.005934
chevrolet         0.005698
chrysler          0.003513
dacia             0.002635
daihatsu          0.002506
jeep              0.002271
subaru            0.002142
land_rover        0.002099
saab              0.001649
jaguar            0.001564
daewoo            0.001500
trabant           0.001392
rover             0.001328
lancia            0.001071
lada              0.000578
Name: brand, dtype: float64

In [301]:
autos_brand=autos['brand'].value_counts(normalize=True)
top_brands=autos_brand[autos_brand > .05].index #index is important for the next step
print(top_brands)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object')

We are exploring the top car companies that are listed on eBay Germany. The 50% of the market share is made up from German companies, with VW leading the chart 
with 21%.

In [313]:
top_autos_price={}
for c in top_brands:
    selected_brands=autos[autos['brand']==c]
    means=selected_brands['price'].mean()
    top_autos_price[c]=int(means)
top_autos_price

{'audi': 9336,
 'bmw': 8332,
 'ford': 3749,
 'mercedes_benz': 8628,
 'opel': 2975,
 'volkswagen': 5402}


Of the top 5 brands, there is a distinct price gap:

Audi, BMW and Mercedes Benz are more expensive
Ford and Opel are less expensive
Volkswagen is in between - this may explain its popularity, it may be a 'best of 'both worlds' option.

### Exploring Aggregate Data in DataFrame

In [311]:
top_mean_mileage={}
for c in top_brands:
    selected_brands=autos[autos['brand']==c]
    means=selected_brands['odometer_km'].mean()
    top_mean_mileage[c]=means
top_mean_mileage

{'audi': 129157.38678544914,
 'bmw': 132572.51313996495,
 'ford': 124266.01287159056,
 'mercedes_benz': 130788.36331334666,
 'opel': 129310.0358422939,
 'volkswagen': 128707.15879132022}

In [318]:
tap_series = pd.Series(top_autos_price)
tap=pd.DataFrame(tap_series, columns=["mean_price"])
tap

               mean_price
audi                 9336
bmw                  8332
ford                 3749
mercedes_benz        8628
opel                 2975
volkswagen           5402

In [319]:
tmm_series = pd.Series(top_mean_mileage)
tmm=pd.DataFrame(tmm_series, columns=["mean_mileage"])
tmm

                mean_mileage
audi           129157.386785
bmw            132572.513140
ford           124266.012872
mercedes_benz  130788.363313
opel           129310.035842
volkswagen     128707.158791

In [320]:
tmm["mean_price"] = tap

In [321]:
tmm

                mean_mileage  mean_price
audi           129157.386785        9336
bmw            132572.513140        8332
ford           124266.012872        3749
mercedes_benz  130788.363313        8628
opel           129310.035842        2975
volkswagen     128707.158791        5402


The range of car mileages does not vary as much as the prices do by brand, instead all falling within 10% for the top brands. There is a slight trend to the more expensive vehicles having higher mileage, with the less expensive vehicles having lower mileage.